<h1>New pet</h1>

<%= form_for(@pet) do |f| %>
  <%= f.label :age %>
  <%= f.number_field :age %>

  <%= f.label :species %>
  <%= f.text_field :species %>

  <%= f.label :found_location %>
  <%= f.text_field :found_location %>

  <%= f.submit %>
<% end %>
